.hero-container {
    width: 100%;
    overflow: hidden;
    height: 60vh
  }

  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 70vh;
    object-fit: cover; 
  }

  .hero-content {
    z-index: 1; 
    text-align: center;
    font-size: small;
    color: white;
    margin-top: 11rem;
  }

  .hero-btn{
    margin-top: 1rem;
    padding:1rem;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.43);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15.2px);
    border: 1px solid rgba(0, 0, 0, 0.06);
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
  }
  .hero-btn:hover{
    background: rgba(150, 150, 150, 0.5);
    transition: all 0.5s ease;

  }

  @media (min-width: 768px) {

    .hero-video {
      object-fit: cover ;
      width: 100%;
      height: 90vh;
    }

    .hero-content {
      font-size: large;
      margin-top: 14rem;
    }
    .hero-btn{
      padding: 1.3rem;
      font-size: 1rem;
      margin-top: 2rem;
    }
  }