.navbar{
    background: rgba(0, 0, 0, 0.43);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.2px);
    -webkit-backdrop-filter: blur(15.2px);
    border: 1px solid rgba(0, 0, 0, 0.06);
    color: white;
    display: flex;
    justify-content:space-between ;
    padding: 1rem;
    width: 70%;
    margin: 0 auto;
    
}

.Logo{
    height: 80px;
}

.navbar__menu{
    display: flex;
    flex-grow: 1;
    margin-left: 2rem;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.navbar__menu a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      width: 95%;
      padding: 1rem;
      margin-top: 10px;
    }

    
  
    .hamburger {
      display: flex;
    }
  
    .navbar__menu {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      width: 200px;
      margin-top: 10px;
      background: rgba(0, 0, 0, 0.43);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(15.2px);
      -webkit-backdrop-filter: blur(15.2px);
      border: 1px solid rgba(0, 0, 0, 0.06);
      flex-direction: column;
      padding: 0.8rem;
      border-radius: 12px;
    }
  
    .navbar__menu.active {
      display: flex;
      align-items : flex-end;
    }
  
    .navbar__menu a {
      padding: 1rem 0;
      text-align: center;
    }
  
    .Logo {
      height: 50px;
    }
  }

  